@model IEnumerable<SchoolManagementApp.Models.School>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.SchoolID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SchoolID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolID">Delete</a>*@
                <a asp-action="Edit" asp-route-id="@item.SchoolID" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.SchoolID" class="btn btn-sm btn-info" data-toggle="tooltip" title="Detail">
                    <i class="fa-solid fa-eye"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolID" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Delete">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
